<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pratos do Menu</title>
    <link rel="stylesheet" href="/stylesheets/dishes.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/images/onlyRTE_LOGO.png" alt="Logo" />
      </div>
      <h1><%= menu.name %></h1>
    </header>
    <main>
      <ul class="pratos-lista">
        <% pratos.forEach(function(prato) { %>
        <li class="prato-item">
          <img src="<%= prato.imagem %>" alt="<%= prato.nome %>" class="prato-imagem" />
          <h2><%= prato.nome %></h2>
          <p><strong>Descrição:</strong> <%= prato.descricao %></p>
          <p><strong>Preço:</strong> <%= prato.preco.toFixed(2) %> €</p>
          <h3>Informações Nutricionais (por 100g):</h3>
          <ul>
            <li><strong>Calorias:</strong> <%= prato.informacaoNutricional.calorias %> kcal</li>
            <li><strong>Proteínas:</strong> <%= prato.informacaoNutricional.proteinas %> g</li>
            <li><strong>Carboidratos:</strong> <%= prato.informacaoNutricional.carboidratos %> g</li>
            <li><strong>Gorduras:</strong> <%= prato.informacaoNutricional.gorduras %> g</li>
          </ul>
          <a href="/dishes/<%= prato._id %>/edit" class="btn-editar">Editar</a>
        </li>
        <% }); %>
      </ul>
      
      <button
      class="btn-adicionar"
      onclick="window.location.href='/dishes/add?menuId=<%= menu._id %>'"
    >
      Adicionar Prato
    </button>
    </main>
  </body>
</html>
