<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menus</title>
    <link rel="stylesheet" href="/stylesheets/menu/menus.css" />
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css">
  </head>
  <body>
    <%- include('../partials/navbar', { user: user }) %>
    <main>
      <% menus.forEach(menu => { %>
      <div class="menu-card-container">
        <a href="/menus/dishes?menuId=<%= menu._id %>" class="menu-link">
          <div class="menu-card">
            <img src="<%= menu.image %>" alt="<%= menu.name %>" />
            <p><%= menu.name %></p>
            <a href="/menus/<%= menu._id %>/edit" class="edit-button">Edit</a>
            <form action="/menus/<%= menu._id %>" method="POST" style="display:inline;">
              <button type="submit" class="edit-button">Delete</button>
            </form>            
          </div>
        </a>
      </div>
      <% }) %>
      <a href="/menus/new" class="add-menu">+</a>
    </main>
  </body>
</html>
